
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<section class="contact-section">
    <div class="container">
        <h1 class="contact-heading" style="font-size: 100px; font-weight: 900;">Thông tin liên hệ</h1><br><br><br>
        <div class="contact-info">
            <div class="contact-item">
                <ion-icon class="contact-icon" name="logo-facebook"></ion-icon>
                <span class="contact-text">Facebook: <a href="#">facebook.com/hllphonestore</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="contact-item">
                <ion-icon class="contact-icon" name="logo-instagram"></ion-icon>
                <span class="contact-text">Instagram: <a href="#">hllphonestore</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="contact-item">
                <ion-icon class="contact-icon" name="logo-youtube"></ion-icon>
                <span class="contact-text">YouTube: <a href="#">youtube.com/hllphonestore</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="contact-item">
                <ion-icon class="contact-icon" name="call"></ion-icon>
                <span class="contact-text">Số điện thoại: <a href="tel:012-345-6789">012-345-6789</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="contact-item">
                <ion-icon class="contact-icon" name="mail"></ion-icon>
                <span class="contact-text">Email: <a href="mailto:longlyly@gmail.com">longlyly@gmail.com</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="contact-item">
                <ion-icon class="contact-icon" name="location"></ion-icon>
                <span class="contact-text1">Địa chỉ cơ sở 1: 140 Phạm Văn Bạch, Phường 12, Gò Vấp, TP.HCM</span>
            </div>
            <br />
            <div class="contact-item">
                <ion-icon class="contact-icon" name="location"></ion-icon>
                <span class="contact-text1">Địa chỉ cơ sở 2: 123 Nguyễn Kiệm, Phường 1, Gò Vấp, TP.HCM</span>
            </div>
            <br />
            <div class="contact-item">
                <ion-icon class="contact-icon" name="location"></ion-icon>
                <span class="contact-text1">Địa chỉ cơ sở 3: 25 Nguyễn đỗ cung, Phường Tây Thạnh, TP.HCM</span>
            </div>
            <section class="map-section">
                <iframe width="540px" height="460px" frameborder="0" style="border:0">
                    <img src="~/Images/Img_Main/bando.PNG" />
                </iframe>
            </section>
        </div>
    </div>
</section>

