
<div class="hero">
    <div class="hero-text-box">
        <h1 class="heading-primary">
            Cửa hàng bán điện thoại trực tuyến hàng đầu tại Việt Nam
        </h1>
        <p class="hero-decription">
            Chúng tôi luôn cam kết về chất lượng sản phẩm của mình, luôn hộ trợ 24/7, bảo hành
            trong vòng 2 năm sử dụng
        </p>
        <a href="#" class="btn btn--full margin-right-sm">Bắt đầu</a>
        <a href="aboutus.html" class="btn btn--outline">Xem thêm &darr;</a>

        <div class="delivered-phones">
            <div class="deliveres-img">
                <img src="~/Images/Img_Main/custommer/uifaces-popular-image (3).jpg" alt="Custommer photo">
                <img src="~/Images/Img_Main/custommer/uifaces-popular-image (4).jpg" alt="Custommer photo">
                <img src="~/Images/Img_Main/custommer/uifaces-popular-image (5).jpg">
                <img src="~/Images/Img_Main/custommer/uifaces-popular-image (2).jpg">
                <img src="~/Images/Img_Main/custommer/uifaces-popular-image (6).jpg">
                <img src="~/Images/Img_Main/custommer/uifaces-popular-image (1).jpg">

            </div>
            <p class="delivered-text"><span>10,000+</span> lượt mua trong 2 năm qua !</p>
        </div>
    </div>
    <div class="hero-img-box">
        <img src="~/Images/Img_Main/header-fotor-2024041911117-removebg-preview.png" class="hero-img"/>
    </div>
</div>