<div class="container grid grid--4-cols center">
    <div class="feature">
        <ion-icon class="feature-icon" name="car-outline"></ion-icon>
        <p class="feature-title">Giao hàng nhanh</p>
        <p class="feature-text">
            Chỉ miễn phí với tất cả nhưng trừ Iphone ra vì chủ web ghét Iphone
        </p>
    </div>
    <div class="feature">
        <ion-icon class="feature-icon" name="bicycle-outline"></ion-icon>
        <p class="feature-title">Bảo hành</p>
        <p class="feature-text">
            Shop chỉ bảo hành đối với những khách trả thêm tiền thôi nhé
        </p>
    </div>
    <div class="feature">
        <ion-icon class="feature-icon" name="ribbon-outline"></ion-icon>
        <p class="feature-title">Chính hãng</p>
        <p class="feature-text">
            Sản phẩm chính hãng, chỉ có điều đã qua vài đời chủ
        </p>
    </div>
    <div class="feature">
        <ion-icon class="feature-icon" name="car-outline"></ion-icon>
        <p class="feature-title">Tiết kiệm</p>
        <p class="feature-text">
            Shop này thường bán đắt hơn các shop khác vì chủ shop này bán vì tiền
        </p>
    </div>
</div>