<div class="copyright">
    <p class="copyright-r">
        © 2024 Shopee. All Rights Reserved .
    </p>
    <div class="copyright-region">
        <ul class="copyright-region-list">
            <li class="copyright-region-item copyright-region-item-space">
                Coutry & Region:
            </li>
            <li class="copyright-region-item">
                <a href="#">VietNam</a>
            </li>
            <li class="copyright-region-item">
                <a href="#">ThaiLand</a>
            </li>
            <li class="copyright-region-item">
                <a href="#">Cambodia</a>
            </li>
            <li class="copyright-region-item">
                <a href="#">China</a>
            </li>
            <li class="copyright-region-item-2">
                <a href="#">India</a>
            </li>
        </ul>
    </div>
</div>