<div class="row" style="margin:auto 0px">
    <div class="col-2" style="margin:auto">
        <span class="header__navbar-item--no-pointer">Kết nối</span>
        <a href="https://www.facebook.com/LeBagsShop/" class="header__navbar-icon-link" style="text-decoration-line:none"> <i class="header__navbar-icon fa fa-facebook-square"></i> </a>
        <a href="https://www.instagram.com/roses_are_rosie/?hl=vi" class="header__navbar-icon-link" style="text-decoration-line:none"> <i class="header__navbar-icon 	fa fa-instagram"></i> </a>
        <a href="https://www.tiktok.com/huit_media" class="header__navbar-icon-link"> <i class="header__navbar-icon bi bi-tiktok"></i> </a>

    </div>
    <div class="col-8" style="display:flex; margin-top:10px">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" aria-label="Recipient's username" aria-describedby="basic-addon2" style="font-size:1.7rem; height:40px">
            <span class="input-group-text" id="basic-addon2" style="height: 40px">
                <i class="header__search-btn-icon fa fa-search" style="font-size:1.4rem; margin:0 auto"></i>
            </span>
        </div>
    </div>
    <div class="col-2 menu-main" style="background-color: #fae5da;">
        <a href="@Url.Action("index", "Cart")" style="color:black">
            <i class="header__cart-icon fa fa-shopping-cart" style="font-size:3.7rem; margin-left:-100px"></i>
        </a>
        @*<ul>
            <li class="menu-link">
                <a href="@Url.Action("index", "Cart")" style="color:black">
                    <i class="header__cart-icon fa fa-shopping-cart" style="font-size:2.1rem"></i>
                </a>
            </li>
            <li class="menu-link">
                <a href="" style="color:black">
                    <i class="header__cart-icon fa fa-heart"></i>
                </a>
            </li>
            <li class="menu-link">
                <a href="#" style="color:black">
                    <i class="header__cart-icon fas fa-heart bi bi-globe"></i>
                </a>
            </li>
            <li class="menu-link">
                <a href="#" style="color:black">
                    <i class="header__cart-icon bi bi-person-fill"></i>
                </a>
            </li>
        </ul>*@
    </div>
</div>