
    <img class="logo header-logo" src="~/Images/Img_Main/favicon.ico" alt="logo" style="width: 80px; height: auto; margin-left: 35px" />
    <a href="@Url.Action("SanPham", "Product")" style="margin-right: 150px;margin-left:-50px; font-weight:900; font-size:40px; text-decoration: none;">DUCY PHONE STORE</a>
    <nav class="main-nav">
        <ul class="main-nav-list" style="margin-top:-40px">
            <li><a style="text-decoration: none; color: #333; font-weight: 500; font-size: 1.8rem;" href="@Url.Action("LienHe", "Home")"><i class="fa fa-volume-control-phone" style="margin-right:5px"></i>Liên hệ</a></li>
            <li><a class="main-nav-link nav-a" style="text-decoration: none; color: #333; font-weight: 500; font-size: 1.8rem;" href="#"><i class="fa fa-bell" style="margin-right:5px"></i>Thông báo</a></li>
            <li><a class="main-nav-link nav-a" style="text-decoration: none; color: #333; font-weight: 500; font-size: 1.8rem;" href="#"><i class="fa fa-question-circle-o" style="margin-right:5px"></i>Trợ giúp</a></li>
            <li>
                <a class="main-nav-link nav-a" style="text-decoration: none; color: #333; font-weight: 500; font-size: 1.8rem;"  href="@Url.Action("DangKy", "Home")">Đăng ký |</a>
            </li>
            <li>
                <a class="main-nav-link nav-a" style="text-decoration: none; color: #333; font-weight: 500; font-size: 1.8rem;" href="@Url.Action("DangNhap", "Home")">Đăng nhập</a>
            </li>
        </ul>
    </nav>