<div class="container grid grid--5-cols">
    <div class="logo-col">
        <p class="footer-heading">Follow Us</p>
        <ul class="social-link">
            <li class="social">
                <a href="#">
                    <ion-icon class="social-icon" name="logo-facebook"></ion-icon>
                </a>
                <p>Facebook</p>
            </li>
            <li class="social">
                <a href="">
                    <ion-icon class="social-icon" name="logo-instagram"></ion-icon>
                </a>
                <p>Instagram</p>
            </li>
            <li class="social">
                <a href="">
                    <ion-icon class="social-icon" name="logo-linkedin"></ion-icon>
                </a>
                <p>Linkedin</p>
            </li>
        </ul>
    </div>
    <div class="address-col">
        <p class="footer-heading">Contacts</p>
        <address class="contact">
            <p>
                1111 Phạm Văn Bạch, Phường 12, Gò Vấp, TP.HCM<br><br>
                <a class="contact-num" href="tel:012-345-6789">012-345-6789</a><br>
                <a class="contact-mail" href="mailto:ngocchoanne@gmail.com">ngocchoanne@gmail.com</a>
            </p>
        </address>
    </div>
    <div class="nav-col">
        <p class="footer-heading">Account</p>
        <ul class="footer-nav">
            <li class="footer-link"><a class="fl" href="#">Create Account</a></li>
            <li class="footer-link"><a href="#">Sign in</a></li>
            <li class="footer-link"><a href="#">IOS App</a></li>
            <li class="footer-link"><a href="#">Androind App</a></li>
            <li class="footer-link"><a href="#">Twitter</a></li>
        </ul>
    </div>
    <div class="nav-col">
        <p class="footer-heading">Store</p>
        <ul class="footer-nav">
            <li class="footer-link"><a href="#">About Us</a></li>
            <li class="footer-link"><a href="#">HLL Policies</a></li>
            <li class="footer-link"><a href="#">HLL Careers</a></li>
            <li class="footer-link"><a href="#">Media Contacts</a></li>
            <li class="footer-link"><a href="#">Flash Deals</a></li>
        </ul>
    </div>
    <div class="nav-col">
        <p class="footer-heading">HLL Download</p>
        <table class="footer-app">
            <tr>
                <th>
                    <div class="footer-qr">
                        <img src="~/Images/Img_Main/qr/qr-code.png" alt="Mã Qr" class="qr-code">
                    </div>
                </th>
                <th>
                    <div>
                        <a href="#" class="footer-qr-link">
                            <img src="~/Images/Img_Main/qr/app-store.png" alt="App Store" class="footer-app-mac">
                        </a>
                    </div>
                    <div>
                        <a href="#" class="footer-qr-link">
                            <img src="~/Images/Img_Main/qr/google-play.png" alt="Google Play" class="footer-app-android">
                        </a>
                    </div>
                </th>
            </tr>
        </table>
    </div>
</div>