<div class="container-new cta">
    <div class="cta-text-box">
        <h2 class="heading-secondary-2">
            Hãy để lại thông tin nếu bạn cần hỗ trợ !
        </h2>

        <p class="cta-text">
            Cam kết luôn bán điện thoại với giá rẻ và chất lượng.
            Chúng tôi luôn hỗ trợ 24/7 bất cứ khi nào bạn thắc mắc thì hãy liên hệ
            cho chúng tôi.
        </p>
        <form class="cta-form1" action="#">
            <div>
                <label for="full-name">Họ và tên</label>
                <input type="text"
                       id="full-name"
                       placeholder="Mai Ngọc Hoàn"
                       required>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email"
                       id="email"
                       placeholder="ngocchoanne@gmail.com"
                       required>
            </div>
            <div>
                <label for="select-phone">Hãng điện thoại muốn mua?</label>
                <select id="select-phone" required>

                    <option value="samsung">SamSung</option>
                    <option value="iphone">Iphone</option>
                    <option value="huawei">Huawei</option>
                    <option value="oppo">Oppo</option>
                    <option value="vivo">Vivo</option>
                    <option value="xiaomi">Xiaomi</option>
                </select>
            </div>
            <button class="btn btn--form bg-warning-subtle">Gửi</button>
        </form>
    </div>
    <div class="cta-img-box">
        <img src="/Images/Img_Main/smartphone/smiling-woman-headset-presentation-something.jpg" alt="Mô tả hình ảnh" style="width: 100%; height: 100%; background-color: rgba(235, 151, 78, 0.7); ">
    </div>
</div>